
# Ignore local development files and libraries
**/__pycache__/
**/local/
**/trash/
venv/
.venv/
**/.DS_Store
.DS_Store
runs/
**/*.zip

/Modified YOLO/ultralytics/*
/Modified YOLO/ultralytics/ultralytics/*
/Modified YOLO/ultralytics/ultralytics/utils/*
/Modified YOLO/ultralytics/ultralytics/cfg/*


!/Modified YOLO/ultralytics/ultralytics/
!/Modified YOLO/ultralytics/ultralytics/utils/
!/Modified YOLO/ultralytics/ultralytics/utils/loss.py
!/Modified YOLO/ultralytics/ultralytics/cfg/
!/Modified YOLO/ultralytics/ultralytics/cfg/default.yaml