
# Ignore local development files and libraries
**/__pycache__/
**/local/
**/trash/
venv/
.venv/
**/.DS_Store
.DS_Store
runs/
**/*.zip

/Modified YOLO/*
!/Modified YOLO/modified files/

**/node_modules/